.vscode
lyc/
*.error
*.log
*.out
glue_val.zip
glue_val/
.DS_Store
*.so
*.out
__pycache__/
logs/
glue/moh
glue/vua
glue/vua_with_sentence

embeddings/index
embeddings/imgs
embeddings/datapoints
embeddings/overlapping

wsd/senseval/*
!wsd/senseval/senseval3/

# wsd/senseval/senseval3/*
# !wsd/senseval/senseval3/EnglishLS.train
htcondor/docker_stderror

checkpoints/
Hard/corpus

VUA20/pos_dfs
VUA20/pos_dfs_test
VUA20/pos_analysis/*.tsv
VUA20/*.json
VUA20/*.tsv
VUA20/**/*.md

moh/extend/*.pickle
Hard/mt/annotation.tsv/
Hard/mi/

moh/extend/*.tsv